<header class="header header_library container">
    <div class="navigation__container">
        <a href="" class="logo">
            <svg class="logo__svg icon-film">
                <use href="./images/icons/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka</span>
        </a>
        <nav class="navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a href="" class="link menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="" class="link current menu__link">My library</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="filter">
        <ul class="filter_list list">
            <il class="filter_item item">
                <button class="filter_button button-active button" type="button">Watched</button>
            </il>
            <il class="filter_item item">
                <button class="filter_button button" type="button">Queue</button>
            </il>
        </ul>
    </div>
    </div>
</header>