<header class="header-library ">
    <div class="container">
        <nav class="nav">
            <h1 class="is-hidden">My Library</h1>
            <div class="logo-header">
                <a href="#home-page" class="logo link">
                    <svg class="icon-film">
                        <use href="../images/icons/sprite.svg#film"></use>
                    </svg>
                    <span>Filmoteka</span>
                </a>
            </div>
            <ul class="site-nav list">
                <li class="site-nav_item item">
                    <a href="#home-page" class="link">Home</a>
                </li>
                <li class="site-nav_item item">
                    <a href="#library-page" class="link link-active">My Library</a>
                </li>
            </ul>
        </nav>

        <ul class="filter list">
            <il class="filter_item item">
                <button class="filter_button button" type="button">Watched</button>
            </il>
            <il class="filter_item item">
                <button class="filter_button button" type="button">Queue</button>
            </il>
        </ul>
    </div>
</header>