<div class="filter">
    <ul class="filter__list list">
        <il class="filter__item item">
            <button class="filter__button button js-btn-watched" type="button">Watched</button>
        </il>
        <il class="filter__item item">
            <button class="filter__button button js-btn-queue" type="button">Queue</button>
        </il>
    </ul>
</div>