<div class="clear-list">
    <h3 class="clear-list__title">Oops...</h3>
    <p class="clear-list__text">No movies have been added yet. Let's go pick something to your liking</p>
    <a class="clear-list__link button-lib" href="">go to Home</a>
</div>