<div class="company">
    <ul class="company__list">
        {{#if logo_path}}
        <li class="company__item"> <img src="https://www.themoviedb.org/t/p/w500{{logo_path}}" alt="{{name}}"
                class="company__img"></li>
        {{/if}}
    </ul>
</div>