.menu {
  display: flex;
  align-items: center;
}

.navigation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    @media screen and (max-width: $to-tablet) {
        display: none;
  }
}

.search__container {
    margin-left: auto;
    margin-right: auto;
}