.header__library {
  background-color: $primary-text-color;
  background-image: linear-gradient(
      to right,
      $header-gradient-color,
      $header-gradient-color
    ),
    url(../images/library/header-library-background-mobile@2x.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    background-image: linear-gradient(
        to right,
        $header-gradient-color,
        $header-gradient-color
      ),
      url(../images/library/header-library-background-tablet@2x.jpg);
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        to right,
        $header-gradient-color,
        $header-gradient-color
      ),
      url(../images/library/header-library-background-desktop@2x.jpg);
  }
  & .current::after {
    width: 69px;
  }
}
