.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $timing-function $transition-duration;
  z-index: 2;
}

.modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  overflow-x: auto;

  position: relative;
  margin: auto;
  background-color: $white-text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $primary-text-color;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 41px 20px;

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: flex;
    margin: auto;
    width: 618px;
    height: 562px;
    padding: 42px 29px 40px 28px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}
.image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 396px;
    height: 477.8px;
  }
}
.film__image {
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}
.film__information {
  text-align: start;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}
.film__details {
  color: $detalis-film-color;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: $white-text-color;
  background-color: $hover-rating-color;

  border-radius: 5px;
}
.film__rating--divider {
  margin-right: 3px;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.film__about__text {
  line-height: 1.67;
  margin-bottom: 21px;
}
.film__button__wrapper {
  display: flex;
}
.film__button {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $white-text-color;
  cursor: pointer;
  border: 1px solid $primary-text-color;
  transition: all $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-text-color;
    border: 1px solid $accent-color;
  }
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    width: 125px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

.film__button:first-child {
  margin-right: 15px;
}

.close__button {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color $transition-duration $timing-function;
  outline: none;
  background-image: url('../images/close-modal.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.company {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    display: block;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__img {
    max-height: 20px;
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 50%;
    left: 0%;

    &__img {
      max-height: 44px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 5%;

    &__img {
      max-height: 54px;
    }
  }
}
