.team__conteiner {
  background-color: $white-text-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $primary-text-color;
  max-height: 100vh;
  width: 300px;
  padding: 10px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: flex;
    margin: auto;
    width: 628px;
    height: 828px;
    padding: 30px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 782px;
    height: 882px;
    padding: 30px;
  }
}
.team__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: $hover-rating-color;
  line-height: 1.17;
  font-size: 30px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    line-height: 1.24;
    font-size: 30px;
    @media screen and (min-width: $desktop) {
      font-size: 36px;
    }
  }
}
.team__subtitle {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-size: 16px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    font-size: 18px;
    line-height: 1.19px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.21px;
  }
}
.team__text {
  font-size: 14px;
  color: $accent-color;
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    font-size: 16px;
    line-height: 1.17px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.19px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  background-color: blanchedalmond;
  border-radius: 0px 0px 4px 4px;
  margin-right: 20x;

  width: calc((100% - 20px * 1) / 2);

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.team__image {
  margin: auto;
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
}
