.team__content {
  width: 600px;
  height: 700px;
  background-color: blanchedalmond;
}
.team__subtitle {
  color: black;
}
.team__image {
  min-width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}
