body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  line-height: $line-height;

  //   /*
  //    * CSS image reference example.
  //    */
  //   // background-image: url('./images/bg-pattern.png');
}
