// Container

.container {
  display: block;
  margin: 0 auto;
  width: $mobile;
  padding: 20px;

  // Container for tablets

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    width: $tablet;
  }

  // Container for desktop

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
